body {
	font-family: Avenir Next;
	color: midnightblue;
	text-align: center;
	background-color: ghostwhite;
}
h1 {
	font-size: 40px;
	color: midnightblue;
}

a {
	position: absolute;
	top: 10px;
	right: 020px;
	border-radius: 5px;
	background-color: white;
	text-decoration: none;
	color: dimgrey;
	font-size: 20px;
	border-style: inherit;
	padding: 5px 7px 5px 7px;
	border-bottom-width: thin;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

video {
	border-radius: 10px;
}

source {
	border-radius: 10px;
}

input {
	margin-bottom: 20px;
	font-size: 20px;
	border-radius: 10px;
	border-style: inherit;
	padding: 5px;
	padding-right: 100px;
	border-bottom-width: thin;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button {
	font-family: Avenir Next;
	background-color: white;
	color: steelblue;
	margin: 15px 10px 0 0;
	border-radius: 5px;
	padding: 2px 4px 2px 4px;
	border-style: inherit;
	font-size: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.start {
	font-family: Avenir Next;
	background-color:whitesmoke;
	color: steelblue;
	margin-bottom: 20px;
	margin-left: 10px;
	font-size: 20px;
	border-radius: 10px;
	border-style: inherit;
	padding: 5px 7px 5px 7px;
	border-bottom-width: thin;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.top {
	font-family: Avenir Next;
	position: fixed;
	top: 0;
	left: 4px;
}

ul {
	color: steelblue;
	text-align: left;
	list-style-position: outside;
	margin-left: 350px;
}

.get {
	font-size: 12px;
	margin: 0 0 0 0;
}

.creator {
	font-family: Avenir Next;
	font-size: 15px;
	position: fixed;
	bottom: 0;
	left: 4px;
}